{% extends 'base.html' %}
{% block title %}Homepage{% endblock title %}   
{% block body %} 
<div class="text-center container bg-light rounded mt-5 p-5">

    <div class="display-2"> <b>WELCOME</b></div><br>
    <form class = "" action="/pollpage/" method="POST">
        {% csrf_token %}
        <input class="form-control" type="text" name="username" placeholder = "Name" autofocus autocomplete = "off"><br>
        <input class="form-control" type="text" name="password" placeholder="Password"><br>
        <input class=" btn btn-primary" type="submit"  value = "Submit"></input>
    </form>
</div>
            

{% endblock body %}